.DS_Store
__pycache__/
gwas_tools/__pycache__/
gwas_tools/algorithms/__pycache__/
gwas_tools/automation/__pycache__/
gwas_tools/common/__pycache__/
gwas_tools/helpers/__pycache__/
gwas_tools/html/__pycache__/
gwas_tools/summary_pages/__pycache__/
gwas_tools/utils/__pycache__/
.idea/
docs/_build
build/
dist/
gwas_tools.egg-info/
